div {
  margin: 40px auto;
  width: 400px;
  background: #eee;
  padding: 10px;
}

p {
  color: #000;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  line-height: 30px;
  font-family: Arial;
  text-align: center;
  text-transform: uppercase; /*Captalize,lowercase   */
  text-indent: 40px;
  text-decoration: line-through;
  /* underline, overline*/
  text-shadow: 1px 1px 5px lightgreen;
  white-space: normal; /*nowarp*/
  text-indent: 40px;
  letter-spacing: 2px;
}

ul {
  list-style-type: square;
  /* list-style-position: ;
  list-style-image: ; */
}
